[Unit]
Description=CANopenMaster - CANopen stack for the master node
Documentation=https://github.com/CANopenNode/CANopenLinux
After=network.target
Wants=network.target

[Service]
Type=simple
EnvironmentFile=/etc/canopenlinux.conf
ExecStartPre=/bin/sh -c 'ip link set up $CAN_INTERFACE_M type can bitrate $CAN_BITRATE || true'
ExecStartPre=/bin/sh -c 'ip link set up $CAN_INTERFACE_S type can bitrate $CAN_BITRATE || true'
ExecStart=/usr/bin/canopend $CAN_INTERFACE_M -i $NODE_ID_M -c $COMMAND_INTERFACE
ExecStop=/bin/sh -c 'ip link set down $CAN_INTERFACE_M || true'
Restart=always
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target
